<h1>All transactions</h1>
<h2>Balance: {{getBalance()}}$</h2>
<div class="transactions">
    <div *ngFor="let transaction of accountService.transactions">
        <div>
            <p>{{transaction.text}}</p>
            <div>
                <strong [ngClass]="{red: transaction.type === 'expense', green: transaction.type === 'encashment'}">
                    {{display(transaction.type, transaction.value)}}$
                </strong>
            </div>
        </div>
        <div>
            <span>{{transaction.createdAt | date}}</span>
            <span class="material-icons" (click)="selectedId = transaction._id; m.open()">
                delete_forever
            </span>
        </div>
    </div>
</div>
<modal #m>
    <modal-header>Confirm Delete</modal-header>
    <modal-body>Are you sure to delete this transaction?</modal-body>
    <modal-footer>
        <button (click)="m.close()" class="cancel">Cancel</button>
        <button (click)="delete(); m.close()" class="delete">Delete</button>
    </modal-footer>
</modal>