<div class="element">
    <div class="header">
        <a routerLink="/">
            <img src="assets/images/logo.png" alt="Logo">
        </a>
        <h1>My Transactions</h1>
    </div>
    <div class="user">
        <img src="assets/images/user.svg" alt="User logo">
        <div>
            <p>{{username()}}</p>
            <span class="material-icons" (click)="m.open()">exit_to_app</span>
        </div>
    </div>
    <div class="menu">
        <a routerLink="/profile/all-transactions" routerLinkActive="active">
            <span class="material-icons">library_books</span>
            <span>All Transactions</span>
            <div class="line"></div>
        </a>
        <a routerLink="/profile/add-transaction" routerLinkActive="active">
            <span class="material-icons">post_add</span>
            <span>Add Transaction</span>
            <div class="line"></div>
        </a>
    </div>
    <div class="setting">
        <p>{{mode === 1 ? 'Dark': 'Light'}} mode</p>
        <setting-theme (click)="mode = colorModeService.colorMode"></setting-theme>
    </div>
</div>
<modal #m>
    <modal-header>Confirm Logout</modal-header>
    <modal-body>Are you sure you want to logout?</modal-body>
    <modal-footer>
        <button (click)="m.close()" class="cancel">Cancel</button>
        <button (click)="logout(); m.close()" class="logout">Logout</button>
    </modal-footer>
</modal>